{% extends "baseSite.html.twig" %}

{% block pageContent %}
<div class="container-fluid bg-white">
    <div class="container">
        <h1 class="text-center py-3">{{article.title}}</h1>

        {{article.htmlBody | raw}}

        <form action="" class="mt-5 pb-5">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Laissez un commentaire :</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col-md-2 offset-xl-11 offset-md-10 col-5 offset-3">
                <button type="submit" class="btn btn-dark">Envoyer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}