{% extends "baseSite.html.twig" %}

{% block pageContent %}
<div class="container-fluid bg-white">
    <div class="container">
        <h2 class="text-center py-3">{{article.title}}</h2>

        <div class="text-center">
            <img src="{{asset('build/images/reiki.png')}}" style="max-width:30%;" class="img-fluid mb-3"
                alt="Placeholder image">
        </div>

        {{article.htmlBody | raw}}

        {# <p>Les affirmations positives sont des phrases que l'on se répète dans le but d'améliorer la perception de nous
            mêmes,
            des autres, d'un comportement, d'une situation de façon positive et réaliste.</p>
        <p>L'important est de mettre dans ces affirmations une intention, c'est à dire dans quel but je prends ce temps,
            je
            fais
            cet effort en y rajoutant un sentiment de l'amour, de la joie, de la gratitude, de la plénitude, ect..</p>
        <p>Je vous propose par exemple de prendre des post it, de les disposer pour les avoir en vu sur votre frigo, sur
            le
            miroir de votre salle de bain et donc les intégrer inconsciemment, un je t'aime collé à un endroit fera
            toujours
            plaisir à vous et aux autres qui le verront.</p>
        <p>Ensuite pour ce qui est de la pratique, prenez un moment dans la journée pour dire à haute voix les
            affirmations
            positives que vous aurez choisies au moins trois fois chacune avec conviction. Le principal c'est d'être au
            calme dans votre intériorité, c'est un temps que vous prenez pour vous, pour votre bien être, votre
            évolution.
            Et surtout adaptez-les à votre manière et créez les vôtres si le cœur vous en dit.</p>
        <p>Si vous voulez aller plus loin les ouvrages de Louise Hay sont des références dans ce domaine.</p>
        <p>Je vous mets a disposition une liste ci-dessous. A vous de guérir.</p>
        <ul class="col-7">
            <li>"Je m'aime et je m'approuve"</li>
            <li>"Je suis digne d'amour, j'aime et je suis aimé"</li>
            <li>"Je m'aime et me soutiens dans mes choix"</li>
            <li>"Je suis mon propre maître"</li>
            <li>"J'ai confiance en moi et en la vie"</li>
            <li>"Je m'accepte tel que je suis"</li>
            <li>"Je me félicite pour qui je suis"</li>
            <li>"Je m'autorise à être heureux"</li>
            <li>"Je m'autorise à vivre dans l'abondance"</li>
            <li>"Je suis positif en toutes circonstances"</li>
            <li>"Je suis ouvert et réceptif aux expériences favorables et merveilleuses qui entrent dans ma vie"</li>
            <li>"Je vis et demeure dans la totalité des possibilités. Où je suis réside tout le bien"</li>
            <li>"Je prospère dans tous les domaines"</li>
            <li>"Je désire changer et grandir"</li>
            <li>"Il m'est facile de changer"</li>
            <li>"Je digère mon passé et laisse place à de nouvelles expériences"</li>
            <li>"Je me suis affranchi du passé"</li>
            <li>"Ma voie est désormais dégagée"</li>
            <li>"Je guéris et me reconstruit dans la joie"</li>
            <li>"Je suis en excellente santé et débordant d'énergie"</li>
            <li>"Je me libère maintenant facilement de toutes mes vieilles croyances négatives"</li>
            <li>"Je me libère de tout ce qui m'empêche d'aller de l'avant"</li>
            <li>"La vie est joie et pleine d'amour"</li>
            <li>"Tout est pour le mieux dans mon monde"</li>
            <li>"Tout ce que je dois savoir m'est révélé et le Divin pourvoit a tout ce dont j'ai besoin"</li>
            <li>"Tout ce dont j'ai besoin vient à moi dans l'intervalle espace-temps idéal"</li>
            <li>"Juste pour aujourd'hui, je me libère de toute préoccupation,
                Juste pour aujourd'hui, je me libère de la colère,
                Juste pour aujourd'hui, je montre de la gratitude,
                Juste pour aujourd'hui, je travaille dur sur moi,
                Juste pour aujourd'hui, je suis bon envers mon prochain"</li>
        </ul>

        <div class="text-center my-2">
            <h3>Exemple de vidéo</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/A8JxqOG2wi4" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <p>Voici une affirmation positive a répéter chaque jour (une fois) pendant 21 jours : </p>
        <p>"Au centre profond de mon être se trouve un puits infini d'amour. Je laisse à présent cet amour déferler à la
            surface. Il remplit mon cœur, mon corps, mon esprit, ma conscience, il émane de moi, rayonnant dans toutes
            les directions, et me revient amplifié. Plus je donne d'amour, plus j'en ai à donner ; la source est
            intarissable. Faire agir l'amour me rends heureux, c'est une expression de ma joie intérieure. Je m'aime,
            donc je prends soin de mon corps avec amour. Avec amour je lui donne aliments et boissons qui le
            nourrissent, avec amour je le soigne et l'habille, avec amour il me répond à son tour en vibrant de santé et
            d'énergie. Je m'aime donc je m'assure un logis confortable, où j'ai plaisir à me trouver et qui pourvoit à
            tous mes besoins. J'emplis les pièces de vibrations d'amour, afin qu'en entrant, tous -y compris moi-même-
            sentent cet amour et en soient nourris. Je m'aime, donc je fais un travail qui me plaît vraiment, avec et
            pour des gens que j'aime et qui m'aiment ; un travail qui met en valeur mes compétences et talents créatifs
            tout en m'assurant de bons revenus. Je m'aime, donc j'ai une attitude et des pensées aimantes envers tout le
            monde, car je le sais, tout ce que j'émets me revient amplifié. J'attire uniquement des gens aimants dans
            mon univers, car ils sont un miroir de ce que je suis. Je m'aime, donc je pardonne, me libérant complètement
            du passé et de toutes les expériences passées, et je suis libre. Je m'aime, donc j'aime sans réserve
            l'instant présent, j'expérimente chaque moment comme agréable, sachant que mon avenir est lumineux, joyeux
            et protégé ; car je suis l'enfant aimé dont l'Univers prends soin avec amour maintenant et toujours. Et
            c'est ainsi."</p>
        <p class="text-right font-italic">- Esteban</p> #}

        <form action="" class="mt-5 pb-5">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Laissez un commentaire :</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col-2 offset-11">
                <button type="submit" class="btn btn-dark">Envoyer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}