{% extends "baseBackOffice.html.twig" %}

{% block pageContent %}
<div class="container min-vh-100">
    <div class="row min-vh-100">
        <div class="col-6 my-auto mx-auto">
            <p>Hello {{userName}} !</p>
        </div>
    </div>
</div>
{% endblock %}