{% extends "baseBackOffice.html.twig" %}

{% form_theme articleForm '@FOSCKEditor/Form/ckeditor_widget.html.twig' %}

{% block pageContent %}
<div class="container my-5 py-5">
    {{form(articleForm)}}
</div>
{% endblock %}