{% extends "baseSite.html.twig" %}

{% block pageContent %}
<div class="container-fluid bg-white py-3">
    <h2 class="text-center font-weight-bold">Mes articles</h2>

    <div class="container d-flex flex-column">

        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">Les Affirmations positives</h5>
                <p class="card-text">Les affirmations positives sont des phrases que l'on se répète dans le but
                    d'améliorer la perception de nous mêmes, des autres, d'un comportement, d'une situation de façon
                    positive et réaliste...</p>
                <a href="/articles/1" class="btn btn-dark">Lire l'article</a>
            </div>
            <div class="card-footer text-muted">
                Publié : Aujourd'hui
            </div>
        </div>

        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">Les Affirmations positives</h5>
                <p class="card-text">Les affirmations positives sont des phrases que l'on se répète dans le but
                    d'améliorer la perception de nous mêmes, des autres, d'un comportement, d'une situation de façon
                    positive et réaliste...</p>
                <a href="/articles/1" class="btn btn-dark">Lire l'article</a>
            </div>
            <div class="card-footer text-muted">
                Publié : Hier
            </div>
        </div>

        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">Les Affirmations positives</h5>
                <p class="card-text">Les affirmations positives sont des phrases que l'on se répète dans le but
                    d'améliorer la perception de nous mêmes, des autres, d'un comportement, d'une situation de façon
                    positive et réaliste...</p>
                <a href="/articles/1" class="btn btn-dark">Lire l'article</a>
            </div>
            <div class="card-footer text-muted">
                Publié : Il y a 4 jours
            </div>
        </div>

        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">Les Affirmations positives</h5>
                <p class="card-text">Les affirmations positives sont des phrases que l'on se répète dans le but
                    d'améliorer la perception de nous mêmes, des autres, d'un comportement, d'une situation de façon
                    positive et réaliste...</p>
                <a href="/articles/1" class="btn btn-dark">Lire l'article</a>
            </div>
            <div class="card-footer text-muted">
                Publié : Il y a 2 semaines
            </div>
        </div>

    </div>

</div>
{% endblock %}