{% extends "baseSite.html.twig" %}

{% block pageContent %}
<div class="container-fluid bg-white py-3">
    <h2 class="text-center font-weight-bold">Mes articles</h2>

    <div class="container d-flex flex-column">

        {% for article in articles %}
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.abstract }}</p>
                <a href="/articles/{{article.id}}" class="btn btn-dark">Lire l'article</a>
            </div>
            <div class="card-footer text-muted">
                Publié : Aujourd'hui
            </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}