{% extends "baseArticlePreview.html.twig" %}

{# {% form_theme previewForm '@FOSCKEditor/Form/ckeditor_widget.html.twig' %} #}

{% block pageContent %}
<div class="container-fluid bg-white">
    <div class="container">
        <h2 class="text-center">Prévisualisation de l'article :</h2>
        {{article|raw}}
        {# <div class="text-center pb-3">
            <a href="#" class="btn btn-success ml-3">Publier</a>
        </div> #}
        {#<div class="text-center">
            {{form(previewForm)}}
        </div> #}
    </div>
</div>
{% endblock %}